body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.645);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  background: linear-gradient(to bottom, rgb(182, 244, 146), rgb(51, 139, 147));
  border-color: white;
}

.form-control {
  border-color: white;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 15%);
}

.btn-primary {
  background: white;
  color: black;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 15%);
  transition: all 200ms ease-in-out;
  border-color: white;
}

.btn-primary:hover {
  background-color: #50a193;
  border-color: #50a193;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: black;
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -28px;
}

.weather-temperature a:link {
  text-decoration: none;
}

.byline a:link {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: white;
}

.weather-forecast-temperature-max {
  color: white;
}

.weather-forecast-temperature-min {
  color: rgba(255, 255, 255, 0.623);
}

.weather-forecast-wind {
  color: white;
  font-size: 13px;
}
